<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../stylesheets/generator.css" type="text/css">
    <title>Code Generator</title>
</head>
<body>
<div class="page-content">
    <div class="container">
        <div class="header">
            <h1>Code Generator</h1>
        </div>
        <div class="content">
            <div class="section">
                <label>1. Paste a JSON file into the code window or upload a JSON file using the browse button.</label><br>
                <label>2. Enter an element you wish to retrieve.</label><br>
                <label>3. Select a programming language and code will be generated.</label><br><br>
            </div>
            <div class="upload-file">
                <label>Upload JSON:  </label>
                <input type="file" id="selectFiles">
                <input type="button" id="upload" value="upload">
            </div><br>
            <div class="read-api">
                <label>Enter API URL: </label>
                <input type="text" name ="url" id="url">
                <input type="button" id="load-url" value="Load" >
            </div><br>

            <div class="desired-element">
                <label>Enter desired element: </label>
                <input type="text" name="element" id="element">
            </div><br>

            <div class="language">
                <label>Select a programming language</label>
                <select id="language">
                    <option value="jsonjava">JSON-Java</option>
                    <option value="Jackson">Jackson</option>
                    <option value="gson">GSON</option>
                </select>
            </div><br>

            <input type="button" id="generate-code" value="Generate Code" ><br><br>

            <div class="error">
                <textarea readonly class="error" id="errors"></textarea>
            </div><br>

            <div class="tool-container">
                <div class="section panels tool tool-primary" >

                <div class="body">
                        <div class="panels-wrapper">
                            <div class="panel json">
                                <label>JSON</label>
                                <div class="panel-textbox">
                                    <div class="panel-wrapper">
                                        <div class="data-wrapper">

                                            <textarea data-autosave class="data" id="json-contents">
{
    "fruit": "Orange",
    "size": "Medium",
    "color": "Yellow"
}
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel code">
                                <label>Code</label>
                                <div class="panel-textbox">
                                    <div class="panel-wrapper">

                                        <div class="data-wrapper">
                                            <textarea readonly class="data" id="code-contents"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../javascripts/functionality.js"></script>
</body>
</html>